@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 50%; /* 6px */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #3cdbd3;
}

.title {
    font-size: 6.2rem;
    font-weight: 700;
    color: #f5f7f8;
    text-align: center;
    margin: 6rem;
}

.form-container {
    width: 80%;
    margin: 0 auto;
    padding: 6rem;
    background-color: #f5f7f8;
    border-radius: 20px;
    margin-bottom: 6rem;
}

.form-title {
    font-size: 4rem;
    font-weight: 700;
    color: #030405;
    text-align: center;
    margin-bottom: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.input > label {
    font-size: 3rem;
    font-weight: 700;
    color: #6b7280;
}

.input > input {
    font-size: 3.2rem;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    border: 2px solid #9ca3af;
    color: #9ca3af;
    outline-color: #3cdbd3;
}

.btn {
    font-size: 3.2rem;
    font-weight: 700;
    color: #f5f7f8;
    background-color: #3cdbd3;
    padding: 2rem 4rem;
    outline: none;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}
.btn:hover {
    cursor: pointer;
    background-color: #36b9b3;
    transform: scale(1.05);
}

@media (min-width: 72rem) {
    html {
        font-size: 62.5%; /* 10px */
    }

    .form-container {
        width: 60%;
    }

    .title {
        font-size: 4.8rem;
    }

    .form-title {
        font-size: 3.2rem;
    }

    .input > label {
        font-size: 2.4rem;
    }

    .input > input {
        font-size: 2.4rem;
    }

    .form {
        row-gap: 4rem;
    }
}