@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
     font-family: "Open Sans", sans-serif;
     font-size: 3.2rem;
     font-weight: 400;
     line-height: 1.5;
}

.title {
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;
    margin: 4rem;
}

.form-container {
    width: 80%;
    margin: 0 auto;
    padding: 6rem;
    border: 1px solid #808080;
    border-radius: 10px;
    box-shadow: 5px -5px 15px -5px #000;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 4rem
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.input > input {
    font-size: 2.4rem;
    padding: 1.5rem 3rem;
    border-radius: 4px;
    border: 1px solid #808080;
}

.input > input[type="date"] {
    width: 100%;
    background-color: #fff;
}

.btn {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #ffa500;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    margin-top: 4rem;
}

.btn-info {
    position: fixed;
    top: 4rem;
    right: 4rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #ffa500;
}